
/* body {
    font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
background-color: #0b3255;
color: #ffffff;
} */

.containerCss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b3255;
    padding: 20px;
    width: 100%;
    margin-top: 1rem;
}

.textContainer {
    max-width: 45%;
    font-family: Poppins;
    color: white;
}

.textContainer h3 {
    margin: 0;
    font-weight: normal;
}

.textContainer h1 {
    margin: 10px 0;
}

.textContainer ul {
    list-style: none;
    padding: 0;
}

.textContainer ul li {
    margin: 10px 0;
}

.textContainer button {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0088cc;
}

.videoContainer {
    max-width: 50%;
}